{% extends 'base.html.twig' %}

{% block title %}Painel - Estoque{% endblock %}

{% block body %}
<main id="painel">
    <h1>Bem-vindo, {{ app.user ? app.user.userIdentifier : 'Visitante' }}!</h1>

    <nav>
        <ul>
            <li><a href="{{ path('cadastrar_categoria_show') }}">Cadastrar Categoria</a></li>
            <li><a href="{{ path('listar_categorias') }}">Listar Categorias</a></li>
            <li><a href="{{ path('cadastrar_produto') }}">Cadastrar Produto</a></li>
            <li><a href="{{ path('listar_produtos') }}">Listar Produtos</a></li>
        </ul>
    </nav>
</main>
{% endblock %}
