{% extends 'base.html.twig' %}

{% block title %}Categorias
{% endblock %}

{% block body %}
	<h2>Listagem de Categorias</h2>

	<a href="{{ path('cadastrar_categoria_show') }}" class="btn">+ Nova Categoria</a>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			{% for categoria in categorias %}
				<tr>
					<td>{{ categoria.id }}</td>
					<td>{{ categoria.nome }}</td>
					<td>
						<a href="{{ path('editar_categoria', {'id': categoria.id}) }}">Editar</a>
						<a href="{{ path('remover_categoria', {'id': categoria.id}) }}">Excluir</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Nenhuma categoria cadastrada.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
